{% extends 'base.html' %}


{% block content %}

    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <div class="container"><h5 class="page-title">দুলালপুর চন্দ্রমণি উচ্চ বিদ্যালয়</h5></div>
                <ul class="breadcrumb">
{#                    <li class="breadcrumb-item active">Staff Dashboard</li>#}
                </ul>
                <div class="container">
                    <div class="flex-lg-row">
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" onclick="this.parentNode.parentNode.removeChild(this.parentNode);"
                                    class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span
                                    class="sr-only">Close</span></button>
                            <strong><i class="fa fa-warning"></i> <span class="text-danger text-info"> Important Notice!</span></strong>
                            <marquee><p class="font-family: 'Poppins', sans-serif; font-size: 12pt">This website is
                                under development phase, We appreciate your positive feedback!</p></marquee>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-one w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-icon">
                            <i class="fas fa-graduation-cap"></i>
                        </div>
                        <div class="db-info">
                            <h3>{{ alumni_count }}</h3>
                            <h6>Alumni</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-two w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-icon">
                            <i class="fas fa-user-graduate"></i>
                        </div>
                        <div class="db-info">
                            <h3>{{ staff_count }}</h3>
                            <h6>Total Staffs</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-three w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-icon">
                            <i class="fas fa-building"></i>
                        </div>
                        <div class="db-info">
                            <h3>{{ user_count }}</h3>
                            <h6>Total Users</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-four w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-icon">
                            <i class="fas fa-file-invoice-dollar"></i>
                        </div>
                        <div class="db-info">
                            <h3>05</h3>
                            <h6>Application Pending</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <div class="card card-chart">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <h5 class="card-title">Alumni Chart</h5>
                        </div>
                        <div class="col-6">
                            <ul class="list-inline-group text-right mb-0 pl-0">
                                <li class="list-inline-item">
                                    <div class="form-group mb-0 amount-spent-select">
                                        <select class="form-control form-control-sm">
                                            <option>Today</option>
                                            <option>Last Week</option>
                                            <option>Last Month</option>
                                        </select>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="alumni_bar"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="card card-chart">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <h5 class="card-title">Feedback Chart</h5>
                        </div>
                        <div class="col-6">
                            <ul class="list-inline-group text-right mb-0 pl-0">
                                <li class="list-inline-item">
                                    <div class="form-group mb-0 amount-spent-select">
                                        <select class="form-control form-control-sm">
                                            <option>Today</option>
                                            <option>Last Week</option>
                                            <option>Last Month</option>
                                        </select>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="pie_chart"></div>
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/chart.html' %}

{% endblock %}